/* general styles */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #424455;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3;
}

body, html {
  font-family: "Raleway", sans-serif !important;
}
* { color:#fff; text-decoration: none;}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

h1, h2, h3 {
  color: #7289DA;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #FFF;
}

.section {
  text-align: center;
}

.skillbar {
  cursor: pointer;
}

.hide {
  display: none;
}

.display {
  display: block;
}

.spacer {
  clear: both;
}


/*darklight mod */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


:root {
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #424455;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3;
}

/* #Primary
================================================== */

body{
  width: 100%;
  height: 100vh;
  background: var(--dark-blue);
  overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 30px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
p{
    font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
::selection {
  color: var(--white);
  background-color: var(--black);
}
::-moz-selection {
  color: var(--white);
  background-color: var(--black);
}
mark{
  color: var(--white);
  background-color: var(--black);
}
.color-yellow {
    color: var(--yellow);
}
.size-18{
    font-size: 18px;
}
.opacity-40{
  opacity: 0.4;
}
.opacity-60{
  opacity: 0.6;
}
.section {
    position: relative;
  width: 100%;
  display: block;
  z-index: 30 !important;
}
.over-hide {
    overflow: hidden;
}
.padding-top-bottom {
  padding-top: 90px;
  padding-bottom: 90px;
}
.hero-center-section{
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 10;
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.hero-center-section.show{
  opacity: 1;
}
.hero-center-section .left-text{
  position: absolute;
  top: -50%;
  left: -20px;
  height: 200%;
  z-index: 1;
    font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;    
  -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-size: 7vw;
    line-height: 1;
    color: rgba(200,200,200,.1);
    background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  line-height: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.hero-center-section.show .left-text{
  left: 0;
}

.z-bigger {
  z-index: 30 !important;
}

.img-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02);
  display: block;
  transform: scale(1.03);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.hero-center-section.show .img-wrap{
  transform: scale(1);
}
.img-wrap img {
  width: 100%;
  height: auto;
  display: block;
}

/* #Cursor
================================================== */
.cursor,
.cursor2,
.cursor3{
  position: fixed;
  border-radius: 50%; 
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
  z-index: 9999999;
}
.cursor{
  background-color: var(--white);
  height: 0;
  width: 0;
  z-index: 9999999;
}
.cursor2,.cursor3{
  height: 36px;
  width: 36px;
  z-index:99998;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
  -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
  transform:scale(2) translateX(-25%) translateY(-25%);
  border:none
}
.cursor2{
  border: 2px solid var(--white);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
.cursor2.hover{
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.2);
}

.link-to-page {
  position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    cursor: pointer;
    width: 50px;
}
.link-to-page img{
  width: 100%;
  height: auto;
  display: block;
}
.slide-buttons{
  position: relative;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 580px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}
.slide-buttons li{
  position: relative;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin: 60px 0;
  display: block;
  list-style: none;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.slide-buttons li a{
  position: relative;
  display: inline-block;
    font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 2px var(--white);
    text-stroke: 2px var(--white);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  opacity: 0.3;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.slide-buttons li.active a{
  opacity: 1;
}
.slide-buttons li a:hover{
  text-decoration: none;
}
.slide-buttons li a:focus,
.slide-buttons li a:active{
  border: none;
  outline: none;
  box-shadow: none;
}
.slide-buttons li a::before {
  position: absolute;
  top: 0;
  left: 0;
    font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 100px;
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0;
  max-height: 0;
  -webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--white);
    text-fill-color: var(--white);
  color: var(--white);
  content: attr(data-hover);
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.slide-buttons li.active a::before,
.slide-buttons li a:active::before,
.slide-buttons li a:focus::before {
  max-height: 100%;
}


.bottom-right{
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 1000;
}
.switch,
.circle {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
} 
.switch {
  width: 80px;
  height: 4px;
  border-radius: 27px;
  background-image: linear-gradient(298deg, var(--dark-blue), var(--dark-light));
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}
.circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--dark-light);
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:hover {
  box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
  position: absolute;
  font-family: 'unicons';
  content: '\eac1';
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  opacity: 1;
  color: var(--grey);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.circle:after {
  position: absolute;
  font-family: 'unicons';
  content: '\eb8f';
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  background: var(--dark-light);
  border-radius: 50%;
  background: var(--dark-light);
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  color: var(--yellow);
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; 
}
.switched {
}
.switched .circle {
  left: 40px;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: var(--dark);
}
.switched .circle:hover {
  box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.switched .circle:before {
  opacity: 0;
}
.switched .circle:after {
  opacity: 1;
}
body.light{
  background: var(--white);
}
body.light p{
  color: var(--dark-blue);
}
body.light h3{
  color: var(--dark);
}

body.light .cursor,
body.light .cursor2,
body.light .cursor3{
  mix-blend-mode: difference;
  z-index: 9999999 !important;
}
body.light .cursor.hover,
body.light .cursor2.hover,
body.light .cursor3.hover{
}
body.light .cursor{
  background-color: var(--dark-blue);
}
body.light .cursor2{
  height: 16px;
  width: 16px;
  background-color: var(--dark-blue);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  mix-blend-mode: difference;
  border-color: transparent;
}
body.light .cursor.hover,
body.light .cursor2.hover,
body.light .cursor3.hover{
  opacity: 0;
}
body.light .cursor2.hover{
  background: rgba(0,0,0,1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
body.light .slide-buttons li a{
  -webkit-text-stroke: 2px var(--dark-blue);
    text-stroke: 2px var(--dark-blue);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  opacity: 1;
}
body.light .slide-buttons li a::before {
  -webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--dark-blue);
    text-fill-color: var(--dark-blue);
  color: var(--dark-blue);
}
body.light .hero-center-section.show{
  margit-top: 0;
  opacity: 0.9;
}
body.light .hero-center-section .left-text{
    color: rgba(0,0,0,.16);
    background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.16)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #Media
================================================== */


@media (max-width: 1199px) { 
  .hero-center-section .left-text{
    font-size: 13vw;
  }
  .slide-buttons li{
    margin: 50px 0;
  }
  .slide-buttons li a{
    font-size: 80px;
  }
  .slide-buttons li a::before {
    font-size: 80px;
  } 
}

@media (max-width: 991px) { 
  .hero-center-section .left-text{
    font-size: 16vw;
  }
}

@media (max-width: 767px) {
  .cursor,
  .cursor2,
  .cursor3{
    display: none;
  }
  .hero-center-section .left-text{
    display: none;
  }
  .slide-buttons li{
    margin: 40px 0;
  }
  .slide-buttons li a{
    font-size: 60px;
    font-weight: 700;
  }
  .slide-buttons li a::before {
    font-size: 60px;
    font-weight: 700;
  } 
}

@media (max-width: 575px) {
  .slide-buttons li a{
    font-size: 50px;
    font-weight: 700;
  }
  .slide-buttons li a::before {
    font-size: 50px;
    font-weight: 700;
  } 
}


/* flash alert styles */

.flash-container {
  width: 100%;
  position: fixed;
  z-index: 700;
  padding-top: 20px;
  font-weight: bold;
}

.alert {
  text-align: center !important;
  width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color: #211809 !important;
}

/* Nav Screen */

.nav-screen {
  height: 100%;
  z-index: 500;
  position: fixed;
  background-color: #000;
  opacity: 1;
  right: -285px; /* start off behind the scenes */
  -webkit-font-smoothing: antialiased;
  position: fixed;
  width: 285px;
}

.nav-screen .active {
  display: block;
}

/* nav header links */

.nav-brand {
  position: fixed;
  left: 0;
  z-index: 600;
  padding: 10px;
}

.nav-brand img {
  width: 50px;
}

.fa-bars {
  display: none !important;
  color: #7289DA;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 500;
  cursor: pointer;
}

.fa-times {
  color: #7289DA;
  float: right;
  padding: 20px;
  right: 0;
  z-index: 600;
  cursor: pointer;
}

.header-links {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.header-links li {
  color: rgb(57, 152, 220);
  display: inline;
  float: right;
  padding: 15px;
  font-size: 16px;
}

.header-links a {
  color: #757575;
  -webkit-transition: all 0.2s ease-in;
}

.header-links a:hover {
  color: #7289DA !important;
}

/* slide out nav menu styles */

.nav-container {
  padding-top: 10%;
}

.nav-links {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-links ul {
  margin-top: 15%;
  text-align: center;
  padding-top: 10%;
}

.nav-links a {
  color: #ffffff;
  font-size: 30px;
  line-height: 2.5;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.nav-links a:hover {
  color: #7289DA;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#fp-nav ul li .fp-tooltip::before {
  color: #fff !important;
}
#fp-nav ul li .fp-tooltip::after {
  color: #5f5f5f !important;
}
/* Expanding border effect */

.header-links a::after {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background-color: #5c9fec;
  content: "";
  opacity: 0;
  -webkit-transition: width 0.6s, opacity 0.8s;
  -moz-transition: width 0.6s, opacity 0.8s;
  transition: width 0.6s, opacity 0.8s;
}

.header-links a:hover::after,
.header-links a:focus::after {
  opacity: 1;
  width: 100%;
}

/* main header section */

.opaque-bg {
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  padding: 1px 1px 5px 5px;
}

.aboutme {
  /*background: url("https://s3-us-west-2.amazonaws.com/files.bradengelhardt.com/brad-bg-main.jpg")*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/Images/school.jpg") 
    fixed center;
    /* photo by Photo by Andre Benz on Unsplash */
    /* https://unsplash.com/photos/qi2hmCwlhcE?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */ 
    /* Photo by <a href="https://unsplash.com/@trapnation?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Andre Benz</a> on <a href="https://unsplash.com/s/photos/anime?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
  


  background-size: cover;
  
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("D:\Razzberi\Hololive\Fanmade HoloMyth S1 ED\eufrik-myth-ttrpg-4K.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}

.aboutme p {
  color: white;
  font-weight: 100;
  font-size: 17.4px;
}

/* bouncing arrow */

.fa-chevron-down {
  color: #7289DA !important;
  bottom: 10px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  -webkit-transition: 1.2s ease;
}

/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* about section */

/* Skill bars */

.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
  overflow: none;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #595656;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(33, 199, 163, 0);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  color: rgba(249, 243, 243, 0.911);
}

/* portfolio section */

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.content-slide {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.content-slide img {
  width: 70%;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #7289DA !important;
  right: 45px !important;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #7289DA transparent transparent !important;
  left: 45px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgba(114, 137, 218, 0.62) !important;
}

/* contact us styles */

.fa-paper-plane {
  color: #484848;
}

/* paper plane shake on hover */

.plane-animated {
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.fa-paper-plane:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.shake {
  animation-name: shake;
}

/* input field styles */

.contact-form {
  padding: 0px 15px 0px 15px;
}

.form-control {
  border: 2px solid rgba(0, 0, 0, 0.27);
  width: 100%;
  max-width: 100%;
  height: 3em;
  font-size: 16px;
  padding: 1em;
  margin: 0.5em 0 2em 0;
  font-weight: bold;
}

textarea {
  min-height: 10em;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

#submit {
  outline: none;
  padding: 12px;
  min-width: 200px;
  border-radius: 2px;
  border: 2px solid #7289DA;
  text-align: center;
  font-size: 1em;
  color: #7289DA;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

#submit:hover {
  background-color: #7289DA;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* footer styles */

.footer {
  background-color: #2c2f33;
  height: 100px;
  padding-top: 10px;
}

.footer p {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.social-links a {
  color: white;
  padding: 0px 5px 0px 5px;
}

.social-links a:hover {
  color: #7289DA;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* smaller resolution styles */

@media (min-width: 100px) and (max-width: 500px) {
  .fa-bars {
    display: block !important;
  }

  .header-links {
    display: none;
  }
}

/* mobile styles */

@media (min-width: 100px) and (max-width: 400px) {
  .content {
    max-width: 300px;
  }

  .aboutme h1 {
    font-size: 28px;
  }
}

/* loading screen animation */

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 25%;
  background-color: #7289DA;
  text-align: center;
  font-size: 10px;
  z-index: 1000;
}

.spinner > div {
  background-color: #7289DA;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.blinking-cursor {
  font-weight: 500;
  margin-left: 4px;
  font-size: 20px;
  color: white !important;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


/* CAROUSEL */
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
 

}



.textup{
  position: relative;
}
.upside{
  position: absolute;
}




 




